.leftSide {
	background-color: #4D008C;
}

.logo-block {
	padding-top: 37%;
}

.bottom-bar {
	width: 24.5%;
}

.logo-label {
	color: #000000;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-size: 3vw;
	font-family: 'Montserrat Alternates', sans-serif;
	padding-top: 25%;
}

.line {
	border-top: 3px solid black;
}

.soc {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-size: cover;
	margin-top: 1.9em;
}

.soc-git {
	background-image: url('/assets/svg/git.svg');
}

.soc-git:hover, .soc-git:focus {
	filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(102deg) brightness(100%) contrast(105%);
}

.soc-twitter {
	background-image: url('/assets/svg/twitter.svg');
	margin-left: 1.4em;
}

.soc-twitter:hover, .soc-twitter:focus {
	filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(102deg) brightness(100%) contrast(105%);
}

.soc-dis {
	background-image: url('/assets/svg/dis.svg');
	margin-left: 1.4em;
}

.soc-dis:hover, .soc-dis:focus {
	filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(102deg) brightness(100%) contrast(105%);
}
